@model List<QualifyMeProject.ViewModels.CourseViewModel>

@{
    ViewBag.Title = "Courses";
}

<div class="row">
    <div class="col-sm-12">
        <h4>List of Courses</h4>
        <ul class="list-group list-group-flush">
           
            @foreach (var item in Model)
            {
                <li class="list-group-item list-group-item-action">@item.CourseID. @item.CourseDepartment @item.CourseSpecification</li>
            }
        </ul>
    </div>
</div>

<script>
    //  $("a[href='/home/categories']").attr("id", "active");
</script>