@model QualifyMeProject.ViewModels.DepartmentViewModel
<tr>
    
    <td class="text-dark">
        <a href="/company/departments/view/@Model.DeptID" class="text-primary">@Model.DepartmentName</a>

    </td>

   
   
</tr>
