@model List<QualifyMeProject.ViewModels.CompanyUserViewModel>

@{ 
    ViewBag.Title = "Companies";
}

<div class="row">
    <div class="col-sm-12">
        <h4>List of Companies</h4>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Company</th>
                    <th>Email</th>
                </tr>
              
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                <tr>
                    <td>@item.CompanyID</td>
                    <td>@item.CompanyName</td>
                    <td>@item.CompanyEmail</td>
                </tr>
                </tbody>
            }
        </table>
        
        @if (Session["CurrentUserName"] != null)
        {
            <a href="/admin/companies/addcompany" class="btn btn-primary">Add Company</a>
        }
    </div>
</div>

<script>
  //  $("a[href='/home/categories']").attr("id", "active");
</script>