@model List<QualifyMeProject.ViewModels.CourseViewModel>

@{
    ViewBag.Title = "Courses";

}


<div class="row">
    <div class="col-sm-12">

        <h4>List of Courses</h4>
        <ul class="list-group list-group-flush">
            
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Department</th>
                        <th>Specification</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>@item.CourseID</td>
                            <td>@item.CourseDepartment</td>
                            <td>@item.CourseSpecification</td>
                        </tr>
                    </tbody>
                }
            </table>
        </ul>

      
        @if (Session["CurrentUserName"] != null)
        {
            <a href="/admin/courses/addcourse" class="btn btn-primary">Add Course</a>
        }

    </div>
</div>

<script>
    //   $("a[href='/home/questions']").attr("id", "active");
</script>


