@{
    ViewBag.Title = "Add Course";
}

<div class="row">
    <div class="col-sm-12">
        <h1>Add Course</h1>
        <form novalidate="novalidate" action="/admin/courses/addcourse" method="post" class="needs-validation">
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="CourseDepartment">Course Department</label>
                    <input type="text" class="form-control" id="CourseDepartment" placeholder="Enter Course Department" name="CourseDepartment" required="required" pattern="^[a-zA-Z ]*$" autofocus="autofocus" />
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                    <div class="invalid-feedback">
                        Please Enter the Course Department.
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="CourseDescription">Course Department</label>
                    <input type="text" class="form-control" id="CourseDescription" placeholder="Enter Course Specification" name="CourseSpecification" required="required" pattern="^[a-zA-Z ]*$" autofocus="autofocus" />
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                    <div class="invalid-feedback">
                        Please Enter the Course Department.
                    </div>
                </div>
                
           

           

            <button type="submit" class="btn btn-primary">Add Course</button>

        </form>
    </div>
</div>